
#marcas {
    background-color: #2DE1C2;
    border-radius: 20px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;

}

.barraitem {
    background-color: #DBD8B3;
    border: 2px solid;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.label {
    padding-top: 35px;
}

.barra {
    display: flex;
    background-color: #FF6978;
    list-style: none;
    gap: 2rem;
}

.imanav {
    width: 100px;
    height: 100px;
}

.imavent {
    width: 400px;
    border: solid black;
}

.etivent {
    background-color: black;
    opacity: 0.5;
    display: inline;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.produc {
    border: 2px solid maroon;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px lightblue;
    margin: 10px;
}

.prodimg {
    height: 300px;
}

.nomprod {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.datosprod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
}

.items {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width:320px) and (max-width:500px) {
    body{
        background-color: #FFFFE8;
    }

    .barra{
        flex-direction: column;
        gap: 0rem;
    }

    .barraitem {
        background-color: #DBD8B3;
        text-align: center;
        border: 2px solid;
}

.imavent {
    width: 300px;
    border: solid black;
}
h1{
    font-size: 30px;
}
#marcas {
    background-color: #2DE1C2;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

.prodimg {
    height: 200px;
}
}