.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
.titulo{
    font-size: 30px;
}
.nav-item{
    font-size: 20px;
}
#marcas {
    background-color: #2DE1C2;
    border-radius: 20px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;

}

.barraitem {
    background-color: #DBD8B3;
    border: 2px solid;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.enter{
margin-top: 30px;
padding-top: 10px;
}
.enter2{
    margin-top: 40px;
    padding-top: 40px;
}

.enter3{
    margin-top: 75px;
    padding-top: 40px;
}

.contadorcarr{
    display: inline-block;
    width: 30px;
    height: 30px;
    right: 10px;
    top: -30px;
    position: relative;
    color: white;
    background-color: rgb(13, 205, 13, 0.8);
    border-radius: 30px;
    font-size: 20px;
}
.contadorcarr2{
    display: inline-block;
    padding-left: 10px;
    width: 30px;
    height: 30px;
    right: 10px;
    top: -30px;
    position: relative;
    color: white;
    background-color: rgb(13, 205, 13, 0.8);
    border-radius: 30px;
    font-size: 20px;
}

.precioProducto{
    font-size: 20px;
    border: 2px solid maroon;
    background-color: white;
    max-width: 60%;
}

.eliminar{
    border-radius: 60px;
}

.espaciocarr{
    height: 100px;
}

.label {
    padding-top: 35px;
}

.barra {
    display: flex;
    background-color: #FF6978;
    list-style: none;
    gap: 2rem;
}

.imanav {
    width: 100px;
    height: 100px;
}

.imavent {
    width: 400px;
    border: solid black;
}

.etivent {
    background-color: black;
    opacity: 0.5;
    display: inline;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.producto {
    border: 2px solid maroon;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px lightblue;
    max-width: 31%;
    margin: 15px;
}

.prodimg {
    height: 200px;
}
.row{
    display: flex;
}
.nomprod {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.datosprod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.estilocarr{
    border-bottom: 1px solid #ccc;
}

@media only screen and (min-width:320px) and (max-width:760px) {
    body{
        background-color: #FFFFE8;
    }

    .barra{
        flex-direction: column;
        gap: 0rem;
    }

    .barraitem {
        background-color: #DBD8B3;
        text-align: center;
        border: 2px solid;
}

.imavent {
    width: 300px;
    border: solid black;
}
h1{
    font-size: 30px;
}
#marcas {
    background-color: #2DE1C2;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

.prodimg {
    height: 110px;
}
.producto {
    max-width: 80%;
}
}