.titani:hover {
    @include botonlogo(black,orange);
}

.titmar:hover {
    @include botonlogo(white,red)
}

.titdc:hover {
    @include botonlogo(blue,white)
}

.estilo2 {
    @include letrasest( #6AD5CB, double)
}

.estilo3 {
    @include letrasest (#EEC584, dashed)
}

h1 {
    background-color: #7E998A;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 40px;
}

@media only screen and (min-width:320px) and (max-width:500px) {
    .estilo2 {
        @include letrasestcel( #6AD5CB, double)
    }
    
    .estilo3 {
        @include letrasestcel (#EEC584, dashed)
    }
}